.skeleton {
  background-color: var(--color-stone);
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton-text {
  border-radius: var(--radius-sm);
  height: 1rem;
  margin-bottom: var(--space-2);
}

.skeleton-rectangular {
  border-radius: var(--radius-md);
}

.skeleton-circular {
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.5;
  }
}
